body {
    text-align: left;
    background-color: hsl(233, 47%, 7%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
  }
  
  span {
    color: hsl(152, 64%, 61%);
  }
  
  h2 {
    font-size: 25px;
    font-weight: 700;
  }
  
  p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 3em;
  }
  
  .wrapper {
    position: absolute;
  }
  
  .box {
    position: relative;
    font-weight: 700;
    width: 100px;
  }
  
  .comp {}
  
  .temp {
    left: 7em;
    bottom: 2.5em;
  }
  
  .query {
    left: 14em;
    bottom: 5em;
  }
  
  .box span {
    font-size: 10px;
    color: hsla(219, 35%, 45%, 0.6);
  }
  
  .wrapper-left {
    background-color: hsl(152, 72%, 11%);
    position: relative;
    left: 12.4em;
    top: 10em;
    height: 15em;
    width: 20em;
    padding: 3em 5em 4em 3em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .wrapper-right {
    position: relative;
    bottom: 12em;
    left: 40.4em;
  }
  
  img {
    height: 22em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0.6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(147, 30%, 47%);
  }
  
  @media (max-width: 375px) {
    body {
      text-align: center;
    }
  
    .wrapper{
      margin-bottom: 20px;
    }
  
    .wrapper-right {
      position: relative;
      bottom: 26.5em;
      left: 2em;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0em;
      right: 0;
      height: 99%;
      width: 100%;
      opacity: 0.6;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: hsl(157, 33%, 44%);
    }
  
    img {
      width: 17.5em;
      height: 13em;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .wrapper-left {
      background-color: hsl(128, 63%, 9%);
      position: relative;
      left: 2em;
      top: 15em;
      height: 25em;
      width: 15em;
      padding: 30px 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0;
    }
  
    .box {
      position: relative;
      left: 4em;
      bottom: 0;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 25px;
      font-weight: 700;
      padding: 0 0.5em;
    }
  
    p{
      line-height: 1.5;
      padding: 0.5em 2em;
    }
  
  
  
  
  }
  